*{
	/*outline: 1px solid purple;*/
}
body{
	background: url(https://newevolutiondesigns.com/images/freebies/nature-hd-background-4.jpg) no-repeat center;
	background-size: cover;
	height: 700px;
    background-attachment: fixed;
}
.formulario{
	margin-top: 30%;
	padding: 60px;
	background-color: rgba(39,40,34,0.5);
	border-radius: 15px;
}
.form-group input{
	border-color: white;
	color: white;
}
.form-group label{
	color: white;
}
.form-control:focus {
	border-color: #5cb85c;
	box-shadow: inset 0 1px 1px rgba(92, 184, 92, 0.075), 0 0 8px rgba(92, 184, 92, 0.075);
}
.formulario h4{
	color: white;
	padding-top: -20px;
}
.btn:focus {
	border-color: #5cb85c;
	box-shadow: inset 0 1px 1px rgba(92, 184, 92, 0.075), 0 0 8px rgba(92, 184, 92, 0.075);
}
.radio label{
	color: white;
}